<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mission.dhakacity">



    <!-- আবশ্যক পারমিশন -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- অটোমেটিক SMS এর জন্য -->

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- OSMDroid Cache Storage (recommended for compatibility) -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />


    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- ব্যাকগ্রাউন্ড সার্ভিস ও অন্যান্য -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Android 14 এর জন্য microphone টাইপ জরুরি -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPOnlineSeba"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.mission.dhakacity.W"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.B"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.Y"
            android:screenOrientation="locked" />
        <activity
            android:name="com.mission.dhakacity.V"
            android:screenOrientation="locked" />
        <activity
            android:name="com.mission.dhakacity.S"
            android:screenOrientation="locked" />
        <activity
            android:name="com.mission.dhakacity.Q"
            android:screenOrientation="locked" />
        <activity
            android:name="com.mission.dhakacity.N"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.P"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.F"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.I"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.C"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.U"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.X"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.A"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.M"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.L"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.Newslist"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.D"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.H"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.E"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.G"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.O"
            android:exported="false" />
        <activity
            android:name="com.mission.dhakacity.Z"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name="com.mission.dhakacity.T"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone|specialUse">
            <property android:name="android.app.property.FOREGROUND_SERVICE_TYPE" android:value="microphone|specialUse" />
        </service>


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_APP_ID" />
    </application>

</manifest>